@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/*Global resets*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-main: #141414;
  --bg-transparent: rgba(20, 20, 20, 0);
  --bg-overlay: rgba(0, 0, 0, 0.6);
  --brand-primary: #e50914;
  --brand-hover: #f40612;
  --text-primary: #ffffff;
  --text-muted: ##e5e5e5;
  --text-dark: #808080;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: var(--bg-main);
}

a {
  text-decoration: none;
  color: var(--text-primary);
}

/*Header Section*/

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4%;
}

.left-side {
  display: flex;
  gap: 1.5rem;
}

.logo-text {
  color: var(--brand-primary);
  font-weight: bold;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex: 2;
  list-style: none;
}

.right-side {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

/*Hero section*/
#hero-section {
  height: 80vh;
  position: relative;
}

#hero-section::after {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  z-index: 2;
  background: linear-gradient(to top, var(--bg-main), transparent);
}

.hero-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
