/*Fonts import*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/*Smooth scrolling behavior*/
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media (hover: hover) {
  .nav-links li a:hover::after {
    width: 100%;
  }
}

/*Color Palette for Project*/
:root {
  --main-background: #fafafa;
  --primary-text: #171717;
  --secondary-text: #525252;
  --border-color: #e5e5e5;
  --accent-color: #d97706;
  --heading-font: "Playfair Display", serif;
  --body-font: Lato, sans-serif;
  --pure-white: #ffffff;
  --pure-black: #000000;
}

/*Universal reset*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Setting up font-size*/
body {
  font-size: 16px;
  background-color: var(--main-background);
  color: var(--primary-text);
  font-family: var(--body-font);
  line-height: 1.6;
  font-weight: 400;
}

.logo-text,
.headline,
.sidebar-title,
.trending-title,
.newsletters-title,
.side-article-title,
.trending-card-title {
  font-family: var(--heading-font);
  font-weight: 900;
}

.logo-text {
  font-size: 3rem;
  text-decoration: none;
  color: var(--primary-text);
  line-height: 1.1;
  font-weight: 700;
}

.headline {
  font-size: 3.5rem;
  line-height: 1.15;
  font-weight: 700;
}

.sidebar-title,
.trending-title,
.newsletters-title {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 600;
}

.side-article-title,
.trending-card-title {
  font-size: 1.125rem;
  line-height: 1.3;
}

.category {
  font-size: 0.75rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 70px;
  position: sticky;
  top: 0;
  background-color: #e5e5e5;
}

#navbar {
  width: 70%;
}

.nav-links {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.nav-links li a {
  text-decoration: none;
  color: var(--primary-text);
  position: relative;
  padding-bottom: 4px;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--accent-color);
  transition: width 0.3s ease;
}

.breaking-news {
  width: 100%;
  position: sticky;
  top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: var(--accent-color);
  color: var(--pure-white);
  gap: 5px;
}

main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.featured-image {
  width: 100%;
  object-fit: cover;
  border-radius: 24px;
}

#featured-article {
  grid-column: span 8;
  padding: 0 2rem;
  border-right: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  border-radius: 24px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.headline {
  margin-bottom: 0.5rem;
}

.excerpt {
  margin: 1rem 0;
}

.author {
  margin-bottom: 1rem;
}

#sidebar {
  grid-column: span 4;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.article-one,
.article-two,
.article-three {
  border-bottom: 2px solid var(--border-color);
  border-radius: 24px;
  border-right: 2px solid var(--border-color);
  padding: 1rem 2rem;
  transition: all 0.3s ease;
}

.article-one:hover,
.article-two:hover,
.article-three:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.04);
}

#trending-section {
  grid-column: span 12;
  padding: 1rem 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.trending-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.trending-title {
  margin-bottom: 1.5rem;
}

.trending-title,
.headline,
.sidebar-title {
  text-decoration: underline;
}

.card-one,
.card-two,
.card-three,
.card-four {
  border-right: 2px solid var(--border-color);
  text-align: center;
  padding: 0.25rem;
  transition: all 0.3s ease;
}

.card-one:hover,
.card-two:hover,
.card-three:hover,
.card-four:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.04);
}

.card-one-image,
.card-two-image,
.card-three-image,
.card-four-image {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-text);
  color: var(--pure-white);
  padding: 2rem 0;
  text-align: center;
  gap: 2rem;
}

.newsletter-form {
  border: 1px solid var(--border-color);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.newsletter-form > input {
  width: 75%;
  border-radius: 4px;
  height: 1.5rem;
  font-size: 1rem;
  padding: 0 5px;
}

.newsletters-title {
  margin-bottom: 1rem;
}

.newsletters-text {
  margin-bottom: 1.5rem;
}

input[type="submit"] {
  background-color: var(--main-background);
  color: var(--primary-text);
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
  }

  .breaking-news {
    top: calc(header);
    height: auto;
  }

  .nav-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-links li a {
    text-decoration: underline;
  }

  main {
    grid-template-columns: 1fr;
  }

  #sidebar {
    grid-column: 1;
  }

  #trending-section {
    grid-column: 1;
  }

  .trending-grid-container {
    grid-template-columns: 1fr;
  }

  .logo-text {
    font-size: 2rem;
  }

  .headline {
    font-size: 2.25rem;
  }

  .sidebar-title,
  .trending-title,
  .newsletters-title {
    font-size: 1.25rem;
  }

  .side-article-title,
  .trending-card-title {
    font-size: 1.125rem;
  }

  .category {
    font-size: 0.75rem;
  }
}
